body {
    margin: 0;
    background-image: url(fundositequatro.gif);
    background-blend-mode:darken;
    background-size: cover;
    background-repeat: no-repeat
}

h1{
    color: mediumspringgreen; 
    border-top: 20px solid  blue;
    border-bottom: 20px solid  blue;
    font-size: 50px ;
    text-align: center;
} 
h2{
    color: skyblue; 
    font-size: 40px ; 
    text-align:left;
}
h3{
    font-weight:bold;
    font: verdana;
    color: deepskyblue;
    font-size: 30px ;
    
}

.p{
    font-weight:bold;
    font: verdana;
    color: azure;
    font-size: 27px ;
    text-align: justify;  
}
.pfim{
    
    font-weight:bold;
    font: verdana;
    color: black;
    font-size: 18px ;
    text-align: right;
    
}
.texto{
    border: 2px solid black;
    font: verdana;
    color: darkgray;
    font-size: 30px ;
    text-align: justify;
}
button{
    background-color: white;
    border-radius: 15px;
    font-size: 24px;
}

