body {
    margin: 0;
    background-image: url(fundotesteum.gif);
    background-size: cover;
    background-repeat: no-repeat
}

h1{
    color: mediumspringgreen; 
    border-top: 20px solid  blue;
    border-bottom: 20px solid  blue;
    font-size: 50px ;
    text-shadow: 0.03em 0.07em darkblue;
    text-align: center;
} 
h2{
    color: ghostwhite; 
    font-size: 40px ; 
    text-align:left;
    background-color: rgba(0,0,0,0.9);
}
h3{
    font-weight:bold;
    color: royalblue;
    font-size: 40px ;
    
}

.p{
    font-weight:bold;
    font: verdana;
    color: floralwhite;
    font-size: 27px ;
    text-align: justify; 

}
.pfim{
    
    font-weight:bold;
    font: verdana;
    color: white;
    font-size: 18px ;
    text-align: right;
    
}
.texto{
    border: 2px solid black;
    font-weight:bold;
    color:aquamarine;
    font-size: 35px ;
    text-align: justify;
    background-color: rgba(0,0,0,0.8);
}
button{
    background-color: #1f1f1f;
    border-radius: 15px;
    font-size: 24px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.esquerda{
    border-collapse: collapse;
    float: right;
    text-align: right !important;
}


